@import url('https://fonts.googleapis.com/css?family=Niconne');


.board {
  margin-left: 7.6rem;
  width: 70rem;
}

p {
  display: inline-block;
  width: 9.28rem;
  padding-bottom: 0;
  font-size: 20px;
  font-family:  'Niconne', cursive;
  color: #1D2780;
  border-bottom: 1px solid gray;
}
