@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Sarala');


.month_menu {
  height: 40px;
  width: 100%;
  font-family:  'Sarala', sans-serif;
  border-bottom: 3px solid transparent;
}

.topBarMenu_item {
  padding-top: 4px;
  padding-bottom: 5px;
  font-size: 13px;
  display: inline-block;
  width: 7.6%;
  text-align: center;
}

.active {
  border-bottom: 3px solid #67c7b7;
}

.topBarMenu_item:hover{
  background-color: #92C0FB;
  cursor: pointer;
}

.month_Header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 60px;
  font-family: 'Cormorant Garamond', serif;
  color: #64ADD1;
}
