@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');


.moodForm{
  z-index: 10;
  background: #fbead2;
  position: absolute;
  top: 20%;
  left: 33%;
  width: 300px;
  height: 390px;
  border-radius: 5px;
  box-shadow: 0px 2px 36px 0px #f9e2c1;
}

span{
  color: #FFA500;
}

.deleteButton{
  float:right;
  padding-top:0;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #E63535;
  color:white;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
  border-radius: 60%;
  font-weight: bold;
}
.deleteButton:hover{
  cursor: pointer;
  box-shadow: 0px 2px 10px 0px #CD1E1E;
}

.mood{
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 210px;
  padding-bottom: 3px;
  text-align: center;
}

input {
  margin-right: 10px;
  margin-left: 10px;
}
input:hover {
  cursor: pointer;
}

.clear{
  background-color: white;
  border: 1px dashed red;
}
.clear:hover{
  box-shadow: -1px 1px 19px -2px red;
}

.Bad{
  background-color: #f57676b0;
}
.Bad:hover{
  box-shadow: -1px 1px 19px -2px #dc6565;
}

.Fantastic{
  background-color: #ccf1c3;
}
.Fantastic:hover{
  box-shadow: -1px 1px 19px -2px #aad89e;
}

.Good{
  background-color: #f5c2e7;
}
.Good:hover {
  box-shadow: -1px 1px 19px -2px #e090ca;
}

.OK {
  background-color: #bccbf5;
}
.OK:hover {
  box-shadow: -1px 1px 19px -2px #94a6d8;
}

.Meh{
  background-color: #d2d4da;
}
.Meh:hover {
  box-shadow: -1px 1px 19px -2px #b7bbc5;
}

h2 {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 18px;
  font-size: 35px;
  font-family: 'Amatic SC', cursive;
}

.moodSelection{
  margin-left: 50px;
}

.moodFormSubmit {
  margin-left: 90px;
  margin-top: 8px;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  width: 100px;
  font-weight: bold;
  border-radius: 3px;
  padding: 3px;
  outline: none;
}

.moodFormSubmit:hover {
  cursor: pointer;
  box-shadow: -1px 1px 19px -2px #4dacff;
  background-color:  #e6f3ff;
}
