@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Niconne');

@import url('https://fonts.googleapis.com/css?family=Neucha');

.moodForm{
  z-index: 10;
  background: #fbead2;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 500px;
  height: 410px;
  border-radius: 5px;
  box-shadow: 0px 2px 36px 0px #f9e2c1;
}

.deleteButton{
  position: absolute;
  top: -10px;
  left: 495px;
  padding-top:0;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #E63535;
  color:white;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
  border-radius: 60%;
  font-weight: bold;
}
.deleteButton:hover{
  cursor: pointer;
  box-shadow: 0px 2px 10px 0px #CD1E1E;
}

.formMoods{
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 130px;
  /* padding-bottom: 3px; */
  text-align: center;
  display: inline-block;
  margin: 5px;
  background-color: whitesmoke;
}
.formMoods:hover{
  cursor: pointer;
}

.clear{
  background-color: white;
  border: 1px dashed red;
  font-family: 'Neucha', cursive;
  font-size: 18px;
  width: 80px;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left: 8px;
  margin-left: 20px;
  margin-top: 14px;
}
.clear:hover{
  box-shadow: -1px 1px 19px -2px red;
}

.badMood{
  border:5px double #f57676b0;
}
.badMoodSelected{
  background-color: #f57676b0;
}
.badMood:hover{
  background-color: #f57676b0;
  box-shadow: -1px 1px 19px -2px #dc6565;
}

.fantasticMood{
  border:5px double #ccf1c3;
}
.fantasticMoodSelected{
  background-color: #ccf1c3;
}
.fantasticMood:hover{
  background-color: #ccf1c3;
  box-shadow: -1px 1px 19px -2px #aad89e;
}

.goodMood{
  border:5px double #f5c2e7;
}
.goodMoodSelected{
  background-color: #f5c2e7;
}
.goodMood:hover {
  background-color: #f5c2e7;
  box-shadow: -1px 1px 19px -2px #e090ca;
}

.okMood{
  border:5px double #bccbf5;
}
.okMoodSelected {
  background-color: #bccbf5;
}
.okMood:hover {
  background-color: #bccbf5;
  box-shadow: -1px 1px 19px -2px #94a6d8;
}

.mehMood{
  border:5px double #d2d4da;
}
.mehMoodSelected{
  background-color: #d2d4da;
}
.mehMood:hover {
  background-color: #d2d4da;
  box-shadow: -1px 1px 19px -2px #b7bbc5;
}

h2 {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 18px;
  font-size: 35px;
  font-family: 'Amatic SC', cursive;
}

.formDate{
  color: #FFA500;
  display: inline-block;
}

.moodSelection{
  margin-left: 25px;
  margin-bottom: 15px;
}

.moodNote {
  font-size: 20px;
  height: 150px;
  margin-left: 55px;
  width: 390px;
  font-family: 'Neucha', cursive;
  outline: none;
  border: 1px solid #EAD7C5;
  border-radius: 5px;
  resize: none;
}

.moodNote:focus {
  border: 1px solid rgb(92, 207, 241);
}

.maxCharacterNote {
  font-size: 10px;
  float:right;
  margin-right: 55px;
}

.moodFormSubmit {
  float:right;
  position: absolute;
  top: 90%;
  left: 80%;
  font-family: 'Neucha', cursive;
  font-size: 18px;
  width: 80px;
  border-radius: 3px;
  padding-top: 5px;
  outline: none;
}

.moodFormSubmit:hover {
  cursor: pointer;
  background-color: #D4FBF1;
  box-shadow: -1px 1px 19px -2px #A9E3D4;
}
