.yearMenu {
  position: relative;
  float: right;
}

 .year:hover, .dropbtn:hover {
  cursor: pointer;
}


.year:hover{
  background-color: #B7DBF0;
}

.dropbtn{
  width: 80px;
  height: 30px;
  font-weight: bold;
  border-bottom-left-radius: 3px;
  background-color: #D2EFEA;
  border: none;
  outline: none;
  margin-top: 0;
}

.dropbtn:hover {
  box-shadow: 0px 1px 15px -5px #83a29d;
}

.dropDownMenu {
  position: absolute;
  display: block;
  background: #D2EFEA;
  width: 80px;
  overflow: scroll;
  top: 30px;
  text-align: center;
}
