
 .year:hover, .dropbtn:hover {
  cursor: pointer;
}


.topBarMenu_item_year {
  float: right;
  font-size: 13px;
  width: 7.6%;
  text-align: center;
}

.year:hover{
  background-color: #B7DBF0;
}

.dropbtn{
  width: 100%;
  height: 30px;
  font-weight: bold;
  border-bottom-left-radius: 3px;
  background-color: #D2EFEA;
  border: none;
  outline: none;
  margin-top: 0;
}

.dropbtn:hover {
  box-shadow: 0px 1px 15px -5px #83a29d;
}

.dropDownMenu {
  position: absolute;
  background-color: #D2EFEA;
  width: 7.6%;
  top: 30px;
  text-align: center;
}
