.project{
	width: 205px;
  display: inline;
  position: relative;
}

.arrowButtons {
	visibility: visible;
	display: inline-flex;
	flex-direction: column;
  float: right;
  margin-top: 10px;
  margin-right: 5px;
  color: #292975;
  font-size: 20px;
}

.fa-times-circle:hover, .addButton:hover,
.fa-caret-down:hover, .fa-caret-up:hover {
  cursor: pointer;
}


.projectDeleteButton, .toDoDeleteButton {
  visibility: visible;
  color: #ca1818;
  z-index: 13;
  position: absolute;
  left: 305px;
  top: 0;
}

.projectDeleteButton{
  left: 225px;
}

.fa-caret-down:hover, .fa-caret-up:hover  {
	color: #f13062;
  font-size: 28px;
}

textarea {
	z-index: 11;
	position: relative;
	width: 280px;
	border: 2px solid #CED5EA;
	font-size:23px;
	border-radius: 5px;
	outline-color:  #CED5EA;
	resize: none;
	margin-bottom: 5px;
}
