.day {
  border: 1px solid gray;
  height: 9rem;
  width: 9rem;
  font-family: 'Cormorant Garamond', serif;
  display: inline-block;
  margin-right: -1px;
  margin-bottom: -1px;
  font-weight: bold;
  padding-left: 3px;
}

.JanRefDays {
  color: rgb(0,0,0,0);
}
.refDays {
  color: lightGray;
}

.currentMonthDays:hover {
  cursor: pointer;
}

.none{
  background: white;
}

.Bad{
  background-color: #F37186;
}

.Fantastic{
  background-color: #A2E392;
}

.Good{
  background-color: #F7A1E0;
}

.OK {
  background-color: #A1B8F9;
}

.Meh{
  background-color: #C7CBD8;
}
