.day {
  position: relative;
  border: 1px solid gray;
  height: 9rem;
  width: 9rem;
  font-family: 'Cormorant Garamond', serif;
  display: inline-block;
  margin-right: -1px;
  margin-bottom: -1px;
  font-weight: bold;
  padding-left: 3px;
}

.JanRefDays {
  color: rgb(0,0,0,0);
}
.refDays {
  color: lightGray;
}

.currentMonthDays:hover {
  cursor: pointer;
}

.none{
  background: white;
}

.Bad{
  background-color: #F37186;
}

.Fantastic{
  background-color: #A2E392;
}

.Good{
  background-color: #F7A1E0;
}

.OK {
  background-color: #A1B8F9;
}

.Meh{
  background-color: #C7CBD8;
}

.dayNoteMarked{
  display: inline-block;
  position: absolute;
  top: 90%;
  left: 90%;
  border-radius: 10px;

}

.fantasticMarked{
  border: 6px solid rgb(93, 167, 74);
}

.goodMarked{
  border: 6px solid rgb(165, 83, 143);
}

.mehMarked{
  border: 6px solid rgb(107, 109, 116);
}

.okMarked{
  border: 6px solid rgb(69, 95, 167);
}

.badMarked{
  border: 6px solid rgb(179, 57, 78);
}
