.fantastic {
    background-color: #ccf1c3;
}
.fantastic:hover{
    box-shadow: -1px 1px 19px -2px #aad89e;
}

.good {
    background-color: #f5c2e7;
}
.good:hover {
    box-shadow: -1px 1px 19px -2px #e090ca;
}

.ok {
    background-color: #bccbf5;
}
.ok:hover {
    box-shadow: -1px 1px 19px -2px #94a6d8;
}

.meh {
    background-color: #d2d4da;
}
.meh:hover {
    box-shadow: -1px 1px 19px -2px #b7bbc5;
}

.bad {
    background-color: #f57676b0;
}
.bad:hover {
    box-shadow: -1px 1px 19px -2px #dc6565;
}